header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  /* background: grey; */
}

h1 {
  text-align: center;
  padding: 1rem;
}
.tabs {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  /* color: black; */
  /* background: #d4f9f7; */
  height: 10rem;
}

.items {
  color: black !important;
}

.active {
  color: #607d8b !important;
}

