/* body {
  background-color: #607d8b;
} */

/* #root {
  background-color: #607d8b;
} */

.selfie {
  width: 20rem;
  height: auto;
  /* border-radius: 70%; */
}

.about-container {
  display: flex;
  /* align-items: center; */
  border-radius: 1rem;
  background-color: #607d8b;
  box-shadow: 5px 10px 40px;
  padding: 1rem;
  margin: 0 4rem;
  width: auto;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 1rem;
  background-color: #607d8b;
  box-shadow: 5px 10px 40px;
  padding: 1rem;
  margin: 0 4rem;
  width: auto;
}

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-color: #607d8b;
  box-shadow: 5px 10px 40px;
  padding: 1rem;
  margin: 0 4rem;
  width: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* border-radius: 1rem;
  background-color: grey;
  padding: 1rem;
  margin: 1rem; */
}

.project-containers {
  /* padding: 1rem; */
  margin: 1rem;
  background-color: white;
  border-radius: 1rem;
  /* box-shadow: 5px 10px 40px; */
  /* border: 1rem solid black; */
}

.repos {
  /* padding: 0 1rem; */
  text-align: center; 
}

.main {
  display: block;
  width: auto;
  height: 30rem;
  padding: 1rem;
}

.others {
  display: block;
  width: auto;
  height: 15rem;
  padding: 1rem;
}
